<!DOCTYPE html>
<html>
  <head>
    <title>Radar</title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
  	<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
  	<link rel="shortcut icon" href="/static/images/favicon.ico" />
  	<link rel="stylesheet" href="/static/css/reset.css" type="text/css"/>
  	<link rel="stylesheet" href="/static/css/master.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css"/>
  </head>
  <body>
    <div id="homepage">
      <div id="header">
        <img id="logo" src="/static/images/radar_logo_250px.png"/>
        <h1>Conoce a los <a href="/founders">fundadores</a> de las <a href="/startups">startups</a> de México.</h1>
			<div id="footer">
			  <ul>
			    <li>Mexican.VC © 2011</li>
			    <li><a href="#">Términos de Uso</a></li>
			    <li><a href="#">Políticas de Privacidad</a></li>
			  </ul> 
  		</div>
		</div>
	</body>
</html>
