{% extends 'base.html' %}
{% block content %}
<style>
  .ui-datepicker-calendar {
    display: none;
  }
</style>
<script src="/static/js/charlength.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function() {
    $(".datepicker" ).datepicker({
         changeMonth: true,
         changeYear: true,
         showButtonPanel: true,
         dateFormat: 'mm/yy',
         onClose: function(dateText, inst) { 
             var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
             var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
             $(this).datepicker('setDate', new Date(year, month, 1));
         },
        beforeShow : function(input, inst) {
             if ((datestr = $(this).val()).length > 0) {
                 year = datestr.substring(datestr.length-4, datestr.length);
                 month = datestr.substring(0, datestr.length-5) - 1;
                 $(this).datepicker('option', 'defaultDate', new Date(year, month, 1));
                 $(this).datepicker('setDate', new Date(year, month, 1));
             }
         }
    });
    
    $("#description").charLengthValidation({
      maxLength:       140,
      validationSelector: ".description_chars", 
    });
    
    $('input.url').blur(function(){
      var val = $(this).val();
      if(val != ""){
        var preffix = (val.indexOf("http://") == -1) ? "http://" : "";
        $(this).val(preffix + val);
      }
    });
    
  });
</script>
<div id="main">
  <div id="content" class="full_width">
    <h2>{%if edit%} Editar: {{startup.last_info.name}} {%else%} Agregar nueva startup {%endif%}</h2>
    <form method="POST" enctype="multipart/form-data">
      <div>
        <label>Logotipo</label>
        <input type="file" name="img"/>
      </div>
      <div>
        <label>Nombre</label>
        <input type="text" name="name" value="{{startup.last_info.name}}"/>
      </div>

      <div>
        <label>Descripción en 140 caracteres</label>
        <input type="text" id="description" name="description" value="{{startup.last_info.description}}"/>
        <p class="note description_chars">Te quedan <span class="value">#</span> caracteres</p>
      </div>
      <div>
        <label>Sitio web</label>
        <input class="url" type="text" name="homepage" value="{{startup.last_info.homepage}}"/>
      </div>
      <h3>Información adicional</h3>
      <div>
        <label>Información detallada</label>
        <textarea name="overview">{{startup.last_info.overview}}</textarea>
      </div>
      <div>
        <label>Fecha de creación</label>
        <input type="text" class="datepicker" name="founded_at" value="{{startup.last_info.founded_at|date:"m/Y"}}"/>
      </div>
      <div>
        <label>Fecha de cierre</label>
        <input type="text" class="datepicker" name="ended_at" value="{{startup.last_info.ended_at|date:"m/Y"}}"/>
      </div>
      <div>
        <label>Blog</label>
        <input class="url" type="text" name="blog" value="{{startup.last_info.blog}}"/>
      </div>
      <div>
        <label>Email de contacto</label>
        <input type="text" name="email" value="{{startup.last_info.email}}"/>
      </div>
      <div class="submit">
        <input class="submit" type="submit" value="{%if edit%} Actualizar Startup {%else%} Crear Startup {%endif%}"/>
      </div>
    </form>
  </div>
</div>
{% endblock %}
