
<h1>{{old_founder.name}} ha cambiado a {{founder.name}}!</h1>

<p>
  Changes:
  <ul>
    <li>Name:{{old_founder.name}} to {{founder.name}}</li>
    <li>City:{{old_founder.city}} to {{founder.city}}</li>
    <li>Country:{{old_founder.country}} to {{founder.country}}</li>
    <li>Website:{{old_founder.website}} to {{founder.website}}</li>
    <li>LinkedIn:{{old_founder.linked_in}} to {{founder.linked_in}}</li>
    <li>Github:{{old_founder.github}} to {{founder.github}}</li>
    <li>Facebook:{{old_founder.facebook}} to {{founder.facebook}}</li>
  </ul>
</p>
<p>Puedes ver a este founder en <a href="{{host}}/founder/{{founder.twitter}}">{{host}}/founder/{{founder.twitter}}</a></p>

